.loading-anim-in {
  height: 3000px;
  width: 3000px;
  animation: loading-in 0.5s;
}

.loading-anim-out {
  height: 0;
  width: 0;
  animation: loading-out 2s;
}

.loading-anim-parent-in {
  display: flex;
  animation: loading-parent-in 0.5s;
}

.loading-anim-parent-out {
  display: none;
  animation: loading-parent-out 2s;
}

.loading-circle div:nth-child(1) {
  animation: circle 1s infinite;
  border-radius: 100%;
}
.loading-circle div:nth-child(2) {
  animation: circle 1s infinite 0.3s;
  border-radius: 100%;
}
.loading-circle div:nth-child(3) {
  animation: circle 1s infinite 0.6s;
  border-radius: 100%;
}

@keyframes loading-out {
  0% {
    height: 3000px;
    width: 3000px;
  }
  100% {
    height: 0;
    width: 0;
  }
}

@keyframes loading-in {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 3000px;
    width: 3000px;
  }
}

@keyframes loading-parent-in {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}

@keyframes loading-parent-out {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}

@keyframes circle {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  50% {
    box-shadow: 0 0 0 8px white;
  }
  100% {
    box-shadow: 0 0 0 0 white;
  }
}