* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.login_img img {
  width: 500px;
}