* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

header .logo {
    color: #ff7676;
    font-weight: bold;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    padding: 0 20px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    padding: 20px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

section {
    display: flex;
    padding: 100px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
}

.circle {
    background-color: #ff7676;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 60%;
}

.hero-text p {
    color: #888;
}

.btn {
    background-color: #ff7676;
    color: white;
    max-width: max-content;
    margin-top: 10px;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 10px;
}